package-lock.json
package.json
node_modules
temp.py
ignore_*
pyrightconfig.json
face_recognition/
manim/
requests/
scrapy/
superset/
tensorflow/
transformers/
.vscode/settings.json
Tobias_code_uploads/AI_binaryseachtree_Output.json
