package-lock.json
package.json
node_modules
temp.py
ignore_*
pyrightconfig.json
face_recognition/
manim/
requests/
scrapy/
superset/
tensorflow/
transformers/
.vscode/settings.json
Tobias_code_uploads/AI_binaryseachtree_Output.json
Arclight/
/deeplearning4j
/Essentials
/FtcRobotController
/ghidra
/Grim
/Iris
/xManager
/tech-interview-for-developer
/Skript
/serverless-java-container
/react-native-svg
/Player
/Paper
/nessie
/java-design-patterns
/iotdb
/djl
/bitcoin-wallet
/py_from_java_attempt_1
/py_from_java_attempt_2
/py_from_java_attempt_3
/py_from_java_attempt_4
/third_cleaning_attempt
/first_cleaning_attempt
/second_cleaning_attempt
/fourth_cleaning_attempt
/cleaning_attempt_5
/ignore
__pycache__/get_model_training_data.cpython-310.pyc
/cleaned_ai_data_8
/test_extract_files_2
/test_extract_files_3
/test_extract_files_4
